<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>fr</string>
		<string>es</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSBonjourServices</key>
	<array>
		<string>_splouch._tcp</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Fonts/OverpassMono[wght].ttf</string>
		<string>Fonts/DSEG7Classic-Regular.ttf</string>
		<string>Fonts/DSEG14Classic-Regular.ttf</string>
		<string>Fonts/ShareTechMono-Regular.ttf</string>
		<string>Fonts/Orbitron[wght].ttf</string>
		<string>Fonts/RobotoMono[wght].ttf</string>
	</array>
	<key>UILaunchScreen</key>
	<dict/>
</dict>
</plist>
